<html>
	<head>
		<title>Home Page</title>
		<link rel="stylesheet" href="/static/homepage.css">
	</head>
	<body>
		<form method="post">
			<button id="log" name="btnlog" value="b"></button>
			<button id="info" name="btninfo" value="a"></button>
		</form>
		<h1>Welcome {{firstn}}, "{{user}}" {{lastn}}</h1>
		<h6>Choose a site to go to, log out, or go to settings (to change any entered info in personal info page).</h6>
		<table>
			<tr>
				<th>Calculator</th>
				<th>Restaurant online order</th>
			</tr>
			<td><a href="http://127.0.0.1:5000/calculator"><img src=/static/calc.jpg></a></td>
			<td><a href="http://127.0.0.1:5000/menu"><img src=/static/restaurant.jpg></a></td>
		</table>
	</body>
</html>