<html>
	<head>
		<title>Sign up</title>
		<link rel='stylesheet' href='/static/index.css'></link>
	</head>
	<body>
		<h1>Welcome to this project</h1>
		<h5>Please enter a username and password</h5>
		<div>
			<form method='post'>
				<label>Username</label>
				<input placeholder='Has to be 3+ characters' name='txtuser'><br>
				<label>Password</label>
				<input placeholder='Has to be 3+ characters' name='txtpass'><br>
				<button>Submit</button><br>
				<label>{{error}}</label>
			</form>
		</div>
	</body>
</html>
