<html>
	<head>
		<title>Sign up</title>
		<link rel='stylesheet' href='/static/index.css'></link>
	</head>
	<body>
		<h1>Welcome to this project</h1>
		<h5>Please enter a username and password</h5>
		<div>
			<form method='post'>
				<label>Username</label>
				<input name='txtuser'><br>
				<label>Password</label>
				<input placeholder='Has to be 3+ characters' name='txtpass'><br>
				<label>Credit/Debit card number:</label>
				<input placeholder='Has to be 16+ characters' name='txtcardnum'><br>
				<label>Card expiration:</label>
				<input type='date' name='txtcardexp'><br>
				<label> Cvv: </label>
				<input type="number" name="txtcardcvv"></br>
				<button>Continue to menu</button><br>
				<label>{{error}}</label>
			</form>
		</div>
	</body>
</html>
