<html>
	<head>
		<title>Menu</title>
		<link rel='stylesheet' href='/static/menu.css'></link>
	</head>
	<body>
		<form method='post'>
			<table>
				<tr>
					<th id='red1'>Breakfast</th>
				</tr>
			</table>
			<table id='tbl'>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Grilled Cheese Sandwich'>
						<label>Grilled Cheese Sandwich $4.95</label>
					</td>
					
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Fresh Baked Bagel with Peanut Butter'>
						<label>Fresh Baked Bagel with Peanut Butter $2.99</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Wheat Toast with Avocado'>
						<label>Wheat Toast with Avocado $3.99</label>
					</td>
				</tr>
			</table><br>
			<table>
				<tr>
					<th id='red2'>Breakfast Wraps</th>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Meat Lovers Wrap'>
						<label>Meat Lovers Wrap $7.99<br><b style='font-size:14px;'>2 eggs, turkey ham, spinach, onion, and cheddar cheese</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Super Veggie Wrap'>
						<label>Super Veggie Wrap $7.99<br><b style='font-size:14px;'>2 eggs, mushrooms, spinach, pepper, and onion.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Classic Breakfast Wrap'>
						<label>Classic Breakfast Wrap $7.99<br><b style='font-size:14px;'>Scrambled eggs, turkey ham, American cheese, and fries.</b></label>
					</td>
				</tr>
			</table>
			<table id='tblr'>
				<tr>
					<th id='red3'>Omelettes</th>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='The Mexicalli Omelette'>
						<label>The Mexicalli Omelette $8.99<br><b style='font-size:14px;'>2 eggs, jalapenos, bell peppers<br>, onions, pepper jack cheese,& salsa.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Best Buy Omelette'>
						<label>Best Buy Omelette $8.99<br><b style='font-size:14px;'>2 eggs white, avocado,spinach<br>,sausage, and Swiss cheese.</b></label>
					</td>
				</tr>
			</table>
			<table id='tblru'>
				<tr>
					<th id='red4'>Deserts</th>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Acai Bowl'>
						<label>Acai Bowl $10.99<br><b style='font-size:14px;'>Acai Puree,Frozen blueberries,strawberries, Banana <br>Yogurt, Granola & Fresh sliced fruit.</b><img id='acaibowlimg' src='/static/acailbowl.jpeg'></img></label>
					</td>
				</tr>
			</table>
			<table id='tblrr'>
				<tr>
					<th id='red5'>Lunch</th>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Mega Burger'>
						<label>Mega Burger $10.49<br><b style='font-size:14px;'>Double beef burger with cheddar cheese,<br>lettuce, tomato, onions, and beef bacon with mayonnaise.</b><img id='burgerimg' src='/static/MegaBurger.jpeg'></img></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='The Big Dipper Burger'>
						<label>The Big Dipper Burger $9.49<br><b style='font-size:14px;'>Beef patty, grilled shrimp, lettuce, tomatoes,<br>mozzarella cheese, and chipotle sauce on bun.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='The Hawaiian Burger'>
						<label>The Hawaiian Burger $8.99<br><b style='font-size:14px;'>Beef patty, pineapple, lettuce, tomatoes, mozzarella cheese, BBQ sauce,<br>and blue cheese on bun.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Chopped Cheese Sandwich'>
						<label>Chopped Cheese Sandwich $9.95<br><b style='font-size:14px;'>Burger chopped with onion pepper, lettuce, tomato ketchup, and cheese.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Go Detox Wrap'>
						<label>Go Detox wrap $9.95<br><b style='font-size:14px;'>Grilled chicken, Swiss cheese, spinach, avocado, tomato, and chipotle sauce.</b><img id="godetoxwrapimg" src='/static/godetoxwrap.jpeg'></img></label>
					</td>
				</tr>
			</table>
			<table id='tblrru'>
				<tr>
					<th id='red6'>Drinks</th>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Sweet and Sour Zinc Juice'>
						<label>Sweet and Sour Zinc Juice $6.99<br><b style='font-size:14px;'>Apple, kale, lemon, spinach, cucumber, and ginger.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Arctic Zen Juice'>
						<label>Arctic Zen Juice $9.35<br><b style='font-size:14px;'>Pineapple, cucumber, apple, lemon, and mint.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Kiwi Apple Juice'>
						<label>Kiwi Apple Juice $6.99<br><b style='font-size:14px;'>Apple, kiwi, kale, and cucumber.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Pina Coalda Madness Smoothie'>
						<label>Pina Coalda Madness Smoothie $6.99<br><b style='font-size:14px;'>Pineapple, coconut, almondmilk and 1 scoop of ice.</b><img id='smoothieimg'src='/static/Pinacolada.jpeg'></img></label><br>
						
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Tropical Bliss Smoothie'>
						<label>Tropical Bliss Smoothie $6.99<br><b style='font-size:14px;'>Banana, pineapple, cococnut, almondmilk and 1 scoop of ice.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Strawberry Banana Blast Smoothie'>
						<label>Strawberry Banana Blast Smoothie $6.99<br><b style='font-size:14px;'>Strawberry and banana, honey,almondmilk and 1 scoop of ice.</b></label>
					</td>
				</tr>
			</table>
			<button>Order</button>
		</form>
	</body>
</html>
