<html>
	<head>
		<title>Menu</title>
		<link rel='stylesheet' href='/static/menu.css'></link>
	</head>
	<body>
		<form method='post'>
			<table>
				<tr>
					<th id='red1'>Breakfast</th>
				</tr>
			</table>
			<table id='tbl'>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Grilled Cheese Sandwich'>
						<label>Grilled Cheese Sandwich $4.95</label>
					</td>
					
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Fresh Baked Bagel with Peanut Butter'>
						<label>Fresh Baked Bagel with Peanut Butter $2.99</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Wheat Toast with Avocado'>
						<label>Wheat Toast with Avocado $3.99</label>
					</td>
				</tr>
			</table><br>
			<table>
				<tr>
					<th id='red2'>Breakfast Wraps</th>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Meat Lovers Wrap'>
						<label>Meat Lovers Wrap $7.99<br><b style='font-size:14px;'>2 eggs, turkey ham, spinach, onion, and cheddar cheese</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Super Veggie Wrap'>
						<label>Super Veggie Wrap $7.99<br><b style='font-size:14px;'>2 eggs, mushrooms, spinach, pepper, and onion.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Classic Breakfast Wrap'>
						<label>Classic Breakfast Wrap $7.99<br><b style='font-size:14px;'>Scrambled eggs, turkey ham, American cheese, and fries.</b></label>
					</td>
				</tr>
			</table>
			<table id='tblr'>
				<tr>
					<th id='red3'>Omelettes</th>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='The Mexicalli Omelette'>
						<label>The Mexicalli Omelette $8.99<br><b style='font-size:14px;'>2 eggs, jalapenos, bell peppers<br>, onions, pepper jack cheese,& salsa.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Best Buy Omelette'>
						<label>Best Buy Omelette $8.99<br><b style='font-size:14px;'>2 eggs white, avocado,spinach<br>,sausage, and Swiss cheese.</b></label>
					</td>
				</tr>
			</table>
			<table id='tblru'>
				<tr>
					<th id='red4'>Deserts</th>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Acai Bowl'>
						<label>Acai Bowl $10.99<br><b style='font-size:14px;'>Acai Puree,Frozen blueberries,strawberries, Banana <br>Yogurt, Granola & Fresh sliced fruit.</b></label>
					</td>
				</tr>
			</table>
			<table id='tblrr'>
				<tr>
					<th id='red5'>Lunch</th>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Chicken Philly'>
						<label>Chicken Philly $9.25<br><b style='font-size:14px;'>Girlled onions, peppers &<br>whtie American cheese</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Chicken Bacon Ranch'>
						<label>Chicken Bacon Ranch $9.65<br><b style='font-size:14px;'>Applewood smoked bacon, lettuce,<br>tomato & ranch dressing.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Chipotle Chicken'>
						<label>Chipotle Chicken $9.35<br><b style='font-size:14px;'>Grilled onions, peppers, white<br>American cheese & chipotle mayo.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Buffalo Chicken'>
						<label>Buffalo Chicken $9.65<br><b style='font-size:14px;'>Frank's Red Hot Sauce, lettuce, tomato<br>with blue cheese dressing.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Big Kahuna Chicken'>
						<label>Big Kahuna Chicken $9.85<br><b style='font-size:14px;'>Grilled onions, peppers,<br>mushrooms, jalapeños<br>& extra white American cheese</b></label>
					</td>
				</tr>
			</table>
			<table id='tblrru'>
				<tr>
					<th id='red6'>Drinks</th>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Famous Philly'>
						<label>Famous Philly $9.45<br><b style='font-size:14px;'>Grilled onions, peppers<br>& white American Cheese</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Chipotle'>
						<label>Chipotle $9.35<br><b style='font-size:14px;'>Grilled onions, peppers, white<br>American Cheese & cheese & chiptole mayo</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='The Big Kahuna'>
						<label>The Big Kahuna $10.35<br><b style='font-size:14px;'>Grilled onions, peppers<br>mushrooms, jalapeños & extra<br>white American cheese</b></label>
					</td>
				</tr>
			</table>
			<button>Order</button>
		</form>
	</body>
</html>
