<html>
	<head>
		<title>Menu</title>
		<link rel='stylesheet' href='/static/menu.css'></link>
	</head>
	<body>
		<form method='post'>
			<table>
				<tr>
					<th id='red1'>American Classics</th>
				</tr>
			</table>
			<table id='tbl'>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Ham & Provolone'>
						<label>Ham & Provolone $8.15</label>
					</td>
					<td>
						<input type='checkbox' name='Aclassics' value='Tuna Fish'>
						<label>Tuna Fish $9.15</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Roast Beef & Provolone'>
						<label>Roast Beef & Provolone $10.15</label>
					</td>
					<td>
						<input type='checkbox' name='Aclassics' value='The Veggie'>
						<label>The Veggie $8.15<br><b style='font-size:14px;'>Swiss, provolone & green bell peppers</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Turkey & Provolone'>
						<label>Turkey & Provolone $9.15</label>
					</td>
				</tr>
			</table><br>
			<table>
				<tr>
					<th id='red2'>Italian Favorites</th>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Jersey Shores Favorite'>
						<label>Jersey Shores's Favorite $8.15<br><b style='font-size:14px;'>Provolone, ham & cappacuolo</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='The Super Sub'>
						<label>The Super Sub $9.15<br><b style='font-size:14px;'>Provolone, ham, prosciuttini<br>& cappacuolo</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='The Original Italian'>
						<label>The Original Italian $10.15<br><b style='font-size:14px;'>Provolone, ham, prosciuttini,<br>cappacuolo, salami & pepperoni</b></label>
					</td>
				</tr>
			</table>
			<table id='tblr'>
				<tr>
					<th id='red3'>Club Subs</th>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Club Sub'>
						<label>Club Sub $10.15<br><b style='font-size:14px;'>Turkey, ham, provolone, applewood<br>smokedbacon & mayo</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Club Supreme'>
						<label>Club Supreme $10.15<br><b style='font-size:14px;'>Roast beef, turkey, swiss, applewood<br>smoked bacon & mayo</b></label>
					</td>
				</tr>
			</table>
			<table id='tblru'>
				<tr>
					<th id='red4'>Meatless</th>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Portabella Musrooms & Swiss'>
						<label>Portabella Musrooms & Swiss $7.55<br><b style='font-size:14px;'>Fresh Grilled portabellea mushrooms,<br>fresh green bell pepers, onions, & Swiss cheese.</b></label>
					</td>
				</tr>
			</table>
			<table id='tblrr'>
				<tr>
					<th id='red5'>Chicken Cheese Steaks</th>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Chicken Philly'>
						<label>Chicken Philly $9.25<br><b style='font-size:14px;'>Girlled onions, peppers &<br>whtie American cheese</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Chicken Bacon Ranch'>
						<label>Chicken Bacon Ranch $9.65<br><b style='font-size:14px;'>Applewood smoked bacon, lettuce,<br>tomato & ranch dressing.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Chipotle Chicken'>
						<label>Chipotle Chicken $9.35<br><b style='font-size:14px;'>Grilled onions, peppers, white<br>American cheese & chipotle mayo.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Buffalo Chicken'>
						<label>Buffalo Chicken $9.65<br><b style='font-size:14px;'>Frank's Red Hot Sauce, lettuce, tomato<br>with blue cheese dressing.</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Big Kahuna Chicken'>
						<label>Big Kahuna Chicken $9.85<br><b style='font-size:14px;'>Grilled onions, peppers,<br>mushrooms, jalapeños<br>& extra white American cheese</b></label>
					</td>
				</tr>
			</table>
			<table id='tblrru'>
				<tr>
					<th id='red6'>Cheese Steaks</th>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Famous Philly'>
						<label>Famous Philly $9.45<br><b style='font-size:14px;'>Grilled onions, peppers<br>& white American Cheese</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='Chipotle'>
						<label>Chipotle $9.35<br><b style='font-size:14px;'>Grilled onions, peppers, white<br>American Cheese & cheese & chiptole mayo</b></label>
					</td>
				</tr>
				<tr>
					<td>
						<input type='checkbox' name='Aclassics' value='The Big Kahuna'>
						<label>The Big Kahuna $10.35<br><b style='font-size:14px;'>Grilled onions, peppers<br>mushrooms, jalapeños & extra<br>white American cheese</b></label>
					</td>
				</tr>
			</table>
			<button>Order</button>
		</form>
	</body>
</html>