<html>
	<head>
		<title>Sign up</title>
		<link rel='stylesheet' href='/static/personalinfo.css'></link>
	</head>
	<body>
		<h1>Signup Page</h1>
		<img src='/static/godetox.jpeg'></img>
		<table>
			<form method='post'>
				<tr>	
					<th>Username</th>
					<td><input name='txtemail'></td>
				</tr>
				<tr>
					<th>Password</th>
					<td><input name="txtpassword" type='password' ></td>
				</tr>
				<tr>	
					<th>Debit/Credit Card Number</th>
					<td><input type='number' placeholder='Card number must between 13 and 19 digits long' name='txtd/ccn'></td>
				</tr>
				<tr>	
					<th>Expiration Date</th>
					<td><input type='date' name='txtexpd'></td>
				</tr>
				<tr>	
					<th>Card Verification Value</th>
					<td><input type='password' placeholder='CVV must be 3 digits long' name='txtcvv'></td>
				</tr>
				<table>
					<tr>
						<td>
							<button>Submit</button><br>
							<label>{{error}}</label>
						</td>
					</tr>
				</table>
			</form>
		</table>
	</body>
</html>
