<html>
	<head>
		<title>Deep fried calculator</title>
	</head>
	<body>
		<h1 style='font-size:50px;'>DONT WORKING</h1>
		<table>
			<form method="post">
				<tr>
					<td>
						<label>{{lbl}}</label><br>
						<button name="btn" value='7'>7</button>
						<button name="btn" value='8'>8</button>
						<button name="btn" value='9'>9</button>
						<button name="btn" value='+'>+</button><br>
						<button name="btn" value='4'>4</button>
						<button name="btn" value='5'>5</button>
						<button name="btn" value='6'>6</button>
						<button name="btn" value='-'>-</button><br>
						<button name="btn" value='1'>1</button>
						<button name="btn" value='2'>2</button>
						<button name="btn" value='3'>3</button>
						<button name="btn" value='x'>*</button><br>
						<button name="btn" value='0'>0</button>
						<button name="btn" value='.'>.</button>
						<button name="btn" value='neg'>(-)</button>				
						<button name="btn" value='/'>/</button><br>
						<button name="btn" value='='>=</button>
						<button name="Clr" value='clear'>Clear</button>
					</td>
				</tr>
				<tr>
					<td>
						<button name="btn" value='ln'>ln</button>
						<button name="btn" value='sin'>sin</button>
						<button name="btn" value='cos'>cos</button>
						<button name="btn" value='tan'>tan</button>
					</td>
				</tr>
			</form>
		</table>
	</body>
</html>
